@model maurizio.conti._5h.PrimoWeb.Models.GuestResponse

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Home page</title>
    </head>

    <body> 
        <div class="text-center">
            <h3>Benvenuto.</h3>
            <h4>Sei invitato alla nostra festa.</h4>
            <a class="btn btn-primary" asp-action="Prenota">RSVP Now</a>
        </div>
    </body>
</html>