@using maurizio.conti._5h.PrimoWeb.Models
@model IEnumerable<GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Lista invitati</title>
    </head>
    <body>
        <div class="text-center p-2">
            <h2>Ecco la lista dei partecipanti</h2>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr><th>Nome</th><th>Email</th><th>Telefono</th></tr>
                </thead>
                <tbody>
                    @foreach (GuestResponse r in Model) {
                        <tr>
                            <td>@r.Nome</td>
                            <td>@r.Email</td>
                            <td>@r.Telefono</td>
                        </tr> 
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>